<script>
import AiCommonSettings from '../components/ai_common_settings.vue';

export default {
  name: 'AiAdminSettings',
  components: {
    AiCommonSettings,
  },
};
</script>
<template>
  <ai-common-settings />
</template>
